{% extends 'base.html.twig' %}

{% block title %}Properties !!{% endblock %}

{% block stylesheets %} 
{# {% include "includes/datatablecss.html.twig" %} #}
{{parent()}}
      {# ARTGRIS BUNDLE CSS  #}

        {# Bootstrap #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        {# Font Awesome #}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        {# Artgris FileManager #}
        <link rel="stylesheet" href="{{ asset('bundles/artgrisfilemanager/libs/blueimp-file-upload/css/jquery.fileupload.css') }}">
        {# Import fengyuanchen/cropper #}
        <link rel="stylesheet" href="{{ asset('bundles/artgrismedia/libs/cropperjs-1.4.1/cropper.min.css') }}">
        {# Then the default bundle's CSS #}
        <link rel="stylesheet" href="{{ asset('bundles/artgrismedia/css/media.css') }}">

      {# ARTGRIS BUNDLE CSS  #}
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1> Editer Le Bien </h1>
    {{form_start(form)}}
    <div class="row">
        <div class="col-md-4">{{form_row(form.title)}}</div>
        <div class="col-md-4">{{form_row(form.surface)}}</div>
        <div class="col-md-4">{{form_row(form.price)}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">{{form_row(form.rooms)}}</div>
        <div class="col-md-2">{{form_row(form.bedrooms)}}</div>
        <div class="col-md-2">{{form_row(form.heat)}}</div>
        <div class="col-md-2">{{form_row(form.floor)}}</div>
    </div>
    <div class="row">
        <div class="col-md-5">{{form_row(form.adress)}}</div>
        <div class="col-md-2">{{form_row(form.city)}}</div>
        <div class="col-md-2">{{form_row(form.postal_code)}}</div>
        <div class="col-md-2">{{form_row(form.sold)}}</div>
    </div>
    {{form_widget(form)}}
    {{form_end(form)}}
</div>

{% endblock %}
{% block javascripts %}
{{parent()}}
      {# ARTGRIS JAVASCRIPT #}
              {# jQuery #}
              <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
              {#  Bootstrap #}
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
              {#  Jqueri UI #}
              <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
              {# jquery.collection.js #}
              <script type="text/javascript" src="{{ asset('js/jquery.collection.js') }}"></script>
              {# Import fengyuanchen/cropper #}
              <script src="{{ asset('bundles/artgrismedia/libs/cropperjs-1.4.1/cropper.min.js') }}"></script>
              {# Then the default bundle's JavaScript: #}
              {% include '@ArtgrisMedia/assets/include_js.html.twig' %}
      {# ARTGRIS JAVASCRIPT #}
{#{% include "includes/datatablejs.html.twig" with {"data":properties} %} #}
{% endblock %}
